.Search{
    width: 100%;
    height: calc(100vh);
    background-color: #0f0f0f;

    .Img{
        width: 30%;
        height: 30%;
        background-image: url(../../../public/img/NoiseLights6.png);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
}